<ion-tab-bar slot="bottom">
  <ion-tab-button [routerLink]="['/home']">
    <ion-icon name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-tab-button>
  <ion-tab-button [routerLink]="['/pokemons']">
    <ion-icon name="paw-outline"></ion-icon>
    <ion-label>Pokémons</ion-label>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="leaf-outline"></ion-icon>
    <ion-label>Moves</ion-label>
  </ion-tab-button>
  <ion-tab-button>
    <ion-icon name="file-tray-outline"></ion-icon>
    <ion-label>Items</ion-label>
  </ion-tab-button>
</ion-tab-bar>