<ion-header>
  <ion-toolbar>
    <ion-title>Pokemons</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="false">
  <div class="container">
    <ion-title>Pesquise por nome:</ion-title>

    <form>
      <ion-input typ="text" [value]="pokemon" aria-placeholder="Pokémon"></ion-input>
    </form>
    <div>
      <ion-button expand="block" color="primary" (click)="getPokemonById()">Buscar</ion-button>
    </div>
  </div>

  <div *ngIf="isRequest">
    <ion-card *ngFor="let pokemon of pokemonObjResponse" (click)="getdados()">
      <div class="infoPokemon">
        <ion-card-header>
          <ion-card-title class="title">{{pokemon.name}}</ion-card-title>
          <ion-card-subtitle># {{pokemon.id}}</ion-card-subtitle>
        </ion-card-header>
      
        <div class="typesPokemon">
          <ion-card-content *ngIf="hasType1">
            {{pokemon.types[0] != null ? pokemon.types[0].type.name : ' '}}
          </ion-card-content>
          <ion-card-content *ngIf="hasType2 == true">
            {{pokemon.types[1] != null ? pokemon.types[1].type.name : ' '}}
          </ion-card-content>
        </div>
      </div>

      <div class="divPokemon">
        <div>
          <ion-img [src]="pokemon.sprites.front_default" class="imgPokemon"></ion-img>
        </div>
      </div>
    </ion-card>  
  </div>
  
  <!-- TODO: Criar o fluxo pra ir pra tela com o Pokemon e seus dados ao clicar no card. -->

  <!-- <app-pokemon-card ></app-pokemon-card> -->
</ion-content>
<app-tab-bar></app-tab-bar>