<ion-header>
  <ion-toolbar>
    <ion-title>Pokemons</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="false">
  <div class="container">
    <ion-title>Pesquise por nome:</ion-title>

    <form>
      <ion-input typ="text" [value]="pokemon" aria-placeholder="Pokémon"></ion-input>
      <!-- <ion-input expand="block"></ion-input> -->
    </form>
    <div>
      <ion-button expand="block" color="primary" (click)="getPokemonById()">Buscar</ion-button>
    </div>
  </div>

  <div *ngIf="isRequest">
    <ion-card *ngFor="let pokemon of pokemonObjResponse">
      <div>
        <ion-card-header>
          <ion-card-title class="title">{{pokemon.name}}</ion-card-title>
          <ion-card-subtitle># {{pokemon.id}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Descrição ou algo do tipo
        </ion-card-content>
      </div>

      <div class="divPokemon">
        <ion-img [src]="pokemon.sprites.front_default" class="imgPokemon"></ion-img>
      </div>
    </ion-card>  
  </div>
  

  <!-- <app-pokemon-card ></app-pokemon-card> -->
</ion-content>
<app-tab-bar></app-tab-bar>